
    <!-- Sidebar -->
    <div ng-show="custom"></div>
    <div ng-hide="custom" class="col-sm-3 col-lg-3" id="sidebar" style="padding: 10px; overflow: auto;">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#filters" data-toggle="tab">&nbsp;Filters</a></li>
            <li><a href="#help" data-toggle="tab"><i class="icon-question"></i>&nbsp;Help</a></li>
        </ul>

        <div class="tab-content" style="padding-top: 10px;">
            <div class="tab-pane active" id="filters">
              County: <input ng-model="filters.county" ng-change="filterMarkers()"><br/>
              Authors: <input ng-model="filters.authors" ng-change="filterMarkers()">
                <ul>
                    <li ng-repeat="marker in filteredMarkers"><h6>{{$index}}, {{marker.county}}, {{marker.authors}}</h6></li>
                </ul>
            </div>    

            <div class="tab-pane" id="help">
                Help content could go here...
            </div>
        </div>
    </div> <!-- End Sidebar -->

    <!-- Map -->
    <leaflet class="col-sm-9 col-lg-9" id="map" center="center" defaults="defaults" layers="layers" markers="filteredMarkers">
        <div ng-show="media_url" id="preview">
            <a href="#/photo/{{record}}" class="">
                <img style="width:500px" ng-src="{{media_url}}">
            </a>
        </div>
    </leaflet> <!-- End Map -->

    <a href="#" type="button" rel="tooltip" class="toggle btn btn-default" data-toggle="tooltip" data-placement="right" title="Toggle sidebar" ng-click="custom=!custom"><i class="icon-chevron-left"></i></a>



 

