				<!-- start: SIDEBAR -->
				<div class="  navbar-collapse collapse navbar-sidebar-collapse" ng-controller="SidebarCtrl">
					<!-- start: RESPONSIVE MENU TOGGLER -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-sidebar-collapse"   >
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- end: RESPONSIVE MENU TOGGLER -->
					<!-- start: MAIN MENU TOGGLER BUTTON -->
					<div class="navigation-toggler">
						<i class="glyphicon glyphicon-chevron-left"></i>
						<i class="glyphicon glyphicon-chevron-right"></i>
					</div>
					<!-- end: MAIN MENU TOGGLER BUTTON -->
					<!-- start: MAIN NAVIGATION MENU -->
					<div class="main-navigation">
					<div class="well">
						<form role="form">
							<fieldset>
	 							<div class="control-group">
	    							<label class="control-label" for="county">County</label>
	    							<div class="controls">
										<select class="form-control" ng-model="filter.county" ng-change="filterMarkers()" ng-options="marker.county as marker.county for marker in sidebar.markers | unique:'county'">
											<option value="">All</option>
										</select>
	    							</div>
	  							</div>
	  							<div class="control-group">
	    							<label class="control-label" for="authors">Photographer</label>
	    							<div class="controls">
										<select class="form-control" ng-model="filter.authors" ng-change="filterMarkers()" ng-options="marker.authors as marker.authors for marker in sidebar.markers | unique:'authors'">
											<option value="">All</option>
										</select>
	    							</div>
	  							</div>
	  							<div class="control-group">
	    							<label class="control-label" for="date">Year Range</label>
	    							<div class="controls">
	    								<div ui-slider="{range:true}" min="{{yearSlider.min}}" max="{{yearSlider.max}}" step="1" ng-model="yearSlider.range" ng-change="filterMarkers()"></div>
	    							</div>
	  							</div>
  							</fieldset>
  						</form>
  						Displaying {{filteredCount}} of {{markerCount}} results
  					</div>
  					</div>
					<!-- end: MAIN NAVIGATION MENU -->
				</div>
				<!-- end: SIDEBAR --> 