
		<div ng-controller="SidebarCtrl" >
			<div class="panel panel-default" >
			    <div class="panel-heading">
  					<form class="form-horizontal" role="form">
  						<div class="input-group">
  							<button class="btn btn-default btn-sm col-sm-5" ng-click="isCollapsed = !isCollapsed">Filters</button>
					  		<p class ="col-sm-7 pull-right" ng-cloak >{{filteredCount}} photos</p>
  						</div>
					</form>						
			    <div>
				<div class="panel-body" collapse="isCollapsed">
					<!-- start: LOCATION SEARCH BLOCK -->
					<div class="search-block">
						<form role="search" name="form-search" >
							<fieldset>
	 							<div class="input-group">
									<input type="search" ng-model="searchStr" placeholder="" class="form-control">
									<span class="input-group-btn">
										<button class="btn btn-sm btn-default" disabled="true">
											<i class="fa fa-search"></i>
										</button>
									</span>
	  							</div>
  							</fieldset>
  						</form>
							
					</div>
					<!-- end: LOCATION SEARCH BLOCK -->
					<!-- start: FILTER BLOCK -->
					<div class="filter-block">
						<form role="form">
							<fieldset>
	 							<div class="control-group">
	    							<label class="control-label" for="county">County</label>
	    							<div class="controls">
										<select class="form-control" ng-model="filter.county" ng-change="filterMarkers()" ng-options="marker.county as marker.county for marker in sidebar.markers | unique:'county'">
											<option value="">All</option>
										</select>
	    							</div>
	  							</div>
	  							<div class="control-group">
	    							<label class="control-label" for="authors">Photographer</label>
	    							<div class="controls">
										<select class="form-control" ng-model="filter.authors" ng-change="filterMarkers()" ng-options="marker.authors as marker.authors for marker in sidebar.markers | unique:'authors'">
											<option value="">All</option>
										</select>
	    							</div>
	  							</div>
	  							<div class="control-group">
	    							<label class="control-label" for="date">Year Range</label>
	    							<div class="controls">
	    								<p>{{slider.range[0]}} - {{slider.range[1]}}</p>
	    								<div ui-slider="slider.options" ng-model="slider.range"></div>

	    								<!-- "{range:true}" min="{{yearSlider.min}}" max="{{yearSlider.max}}" step="1" --> 

	    							</div>
	  							</div>
  							</fieldset>
  						</form>
  					</div>
  					<!-- end: FILTER BLOCK -->
				</div>
			</div>
		</div>
