				<!-- start: SIDEBAR -->
				<div  ng-controller="SidebarCtrl" >
				<div class="sidebar-inner" bn-slide-show="isVisible" slide-show-duration="2000">
					<!-- start: RESPONSIVE MENU TOGGLER -->
					<div class="size-toggle">
						<span class="h4"> &nbsp        
							<button type="button" class="btn btn-primary btn-xs pull-right" ng-click="toggle()">
								<i class="fa fa-chevron-left"></i>
							</button>
						</span>
							
					</div>
					<!-- end: RESPONSIVE MENU TOGGLER -->
					<!-- start: MAIN NAVIGATION MENU -->
					<div class="filter-block">
						<h4>Filters</h4>
						<form role="form">
							<fieldset>
	 							<div class="control-group">
	    							<label class="control-label" for="county">County</label>
	    							<div class="controls">
										<select class="form-control" ng-model="filter.county" ng-change="filterMarkers()" ng-options="marker.county as marker.county for marker in sidebar.markers | unique:'county'">
											<option value="">All</option>
										</select>
	    							</div>
	  							</div>
	  							<div class="control-group">
	    							<label class="control-label" for="authors">Photographer</label>
	    							<div class="controls">
										<select class="form-control" ng-model="filter.authors" ng-change="filterMarkers()" ng-options="marker.authors as marker.authors for marker in sidebar.markers | unique:'authors'">
											<option value="">All</option>
										</select>
	    							</div>
	  							</div>
	  							<div class="control-group">
	    							<label class="control-label" for="date">Year Range</label>
	    							<div class="controls">
	    								<div ui-slider="{range:true}" min="{{yearSlider.min}}" max="{{yearSlider.max}}" step="1" ng-model="yearSlider.range" ng-change="filterMarkers()"></div>
	    							</div>
	  							</div>
  							</fieldset>
  						</form>
  					</div>
  					<div class="results-block">
  						Displaying {{filteredCount}} of {{markerCount}} results
  					</div>
  						
					<!-- end: MAIN NAVIGATION MENU -->
				</div>
				</div>
				<!-- end: SIDEBAR --> 