

			<div>
	            <div class="row">
	                <div class="col-md-12" >
            		   	<div class="description-block">
  							<h4 class="text-muted">{{active.authors}}, 	      								{{active.county}}, {{active.begin_date | date:'M/d/yyyy'}}
  							</h4>
  							<h4>{{active.photog_notes}} 
								<a href ng-click="isCollapsed = !isCollapsed"><img src="assets/img/info-64.png" style="height:20px;"></a>
							</h4>
            			</div>
            			<div class="details-block" collapse="isCollapsed">	
            				<dl class="horizontal">
            					<dt>Calphotos Record:</dt>
            					<dd><a href="{{active.remote_resource}}" target="_newtab">{{active.record}}</a></dd>
            					<dt>Coordinates:</dt>
            					<dd>{{active.lat}},{{active.lng}}</dd>
            					<dt>Associated Observations:</dt>
            					<dd>
            						<ul class="list-inline">
            							<li ng-repeat="obs in active.observations" >
            								{{obs.scientific_name}}
										</li>
            						</ul>
            					</dd>
            					<dt>Associated Resources:</dt>
            					<dd>
            						<ul class="list-inline">
            							<li ng-repeat="obs in active.associated_resources" >
                							<a href="{{obs.url}}" target="_newtab">{{obs.scientific_name}}
                							</a>
										</li>
            						</ul>
            					</dd>
            				</dl>							
            			</div>
		                <carousel interval="-1">
	      					<slide ng-repeat="slide in slides" active="slide.active">
		        				<img ng-src="{{slide.media_url}}" style="margin:auto;">
	      					</slide>
	    				</carousel>
	                </div>
	            </div>

			           
			</div>