<!DOCTYPE html>
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html  ng-app="vtmphotoApp" ng-controller="AppCtrl">
	<!--<![endif]-->
	<!-- start: HEAD -->
	<head>
		<title>VTM Photos</title>
		<!-- start: META -->
		<meta charset="utf-8" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="" name="description" />
		<meta content="" name="author" />
		<!-- end: META -->
		<!-- start: MAIN CSS -->
		<link rel="stylesheet" href="assets/css/bootswatch-flatly.css">
		<link rel="stylesheet" href="assets/css/custom.css">
		<link rel="stylesheet" href="assets/css/main-responsive.css">

		<!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    	<link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>		  

	</head>
	<!-- end: HEAD -->
	<!-- start: BODY -->
	<body ng-controller="AppCtrl">
		<div ng-include="'header.tpl.html'" ng-controller="HeaderCtrl"></div>
		<!-- start: MAIN CONTAINER -->
		<div ui-view class="main-container">
		</div>
		<!-- end: MAIN CONTAINER -->
		<!-- start: COMPILED JAVASCRIPT FILES -->
    	<!-- compiled JS --><% scripts.forEach( function ( file ) { %>
    	<script type="text/javascript" src="<%= file %>"></script><% }); %>
		<!-- end: JAVASCRIPT FILES -->
	</body>
	<!-- end: BODY -->
</html>