
    <!-- Sidebar -->
    <div class="col-sm-2 col-lg-2" id="sidebar">
        <div class="panel  panel-default"> 
            <div class="panel-title"><h4>Filters</h4></div>
            <div class="panel-body">
                County: <input class="text" ng-model="filters.county" ng-change="filterMarkers()"><br/>
                Photographers: <input class="text" ng-model="filters.authors" ng-change="filterMarkers()">
                <div class="sliderExample">
                    Photos since {{filters.year}}:
                    <div ui-slider min="1927" max="1937" ng-model="filters.year" ng-change="filterMarkers()"></div>
                    <span class="pull-left">1927</span>
                    <span class="pull-right">1937</span>
        </div>
            </div>
        </div>
    </div> <!-- End Sidebar -->


    <!-- Map -->
            <leaflet  class="col-sm-7 col-lg-7" id="map" center="center" layers="layers" markers="filteredMarkers">
            </leaflet> 
<!-- End Map -->

    <div class="col-sm-3 col-lg-3" id="imagegallery">
        <div class="panel  panel-default"> 
            <div class="panel-title"><h4>Photos</h4></div>
            <div class="panel-body">
                <input type="hidden" ng-model="selectedMarkers" id="myHiddenText" ng-change="updatePhotoMarkers()">
                <ul class="thumbnails">
                    <li ng-repeat="photo in photoMarkers" class="thumbnail">
                        <a href="#/photo/{{photo.record}}" class=""><img style="height:150px;" ng-src="{{photo.media_url}}"></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>




 

